
.form-bg {
    margin: auto !important;
    margin-top: 10vh !important;
}

.form {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5vw;
    padding-right: 5vw;
}

div {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.loginbtn {
    margin-left: 1vw;
}

.form-head-text{
    margin-left: 2vw !important;
    margin-right: 1vw !important;
    font-size: 2.5vh !important;
}