{
  "SendMail:Api:key": "[Your api key]",
  "SendMail:Api:Id": "[Your api id]",
  "Mailosaur:Id": "[Your id]",
  "Mailosaur:Api:Key": "[Your api key]",
  "Kestrel:Certificates:Development:Password": "[Your certificate password]",
  "JWT:Key": "This is a sample secret key - please don't use in production environment.1",
  "JWT:EmailKey": "This is a sample secret key - please don't use in production environment.2",
  "Email:Password": "[Password of the emails sender]",
  "Email:Address": "[Address of the emails sender]",
  "con": "Server=[yourserver];Port=5432;Database=[yourdatabase];Username=[yourusername];Password=[yourpassword]"
}