#nav_bar .nav-brand {
    margin-right: 10vw;
    font-size: xx-large;
}

#nav_bar .nav-link{
    color: #f5f7f7;
}
#nav_bar .nav-link:hover {
    color: #c1062e;
}

.active {
    color: #c1062e !important;
}

.nav-container {
    margin-left: 5vw !important; 
    font-size: larger;
    margin-right: 0 !important;
    padding-right: 0 !important;
    width: 100%;
}

#nav_bar {
    margin-right: 0 !important;
}

#nav-bar-component {
    margin-right: 0 !important;
}